In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_csv('multiple_linear_regression_dataset.csv')
df

    age  experience  income
0    25           1   30450
1    30           3   35670
2    47           2   31580
3    32           5   40130
4    43          10   47830
5    51           7   41630
6    28           5   41340
7    33           4   37650
8    37           5   40250
9    39           8   45150
10   29           1   27840
11   47           9   46110
12   54           5   36720
13   51           4   34800
14   44          12   51300
15   41           6   38900
16   58          17   63600
17   23           1   30870
18   44           9   44190
19   37          10   48700

In [3]:
df.shape

(20, 3)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   age         20 non-null     int64
 1   experience  20 non-null     int64
 2   income      20 non-null     int64
dtypes: int64(3)
memory usage: 612.0 bytes

In [5]:
df.head()

   age  experience  income
0   25           1   30450
1   30           3   35670
2   47           2   31580
3   32           5   40130
4   43          10   47830

In [6]:
df.tail()

    age  experience  income
15   41           6   38900
16   58          17   63600
17   23           1   30870
18   44           9   44190
19   37          10   48700

In [7]:
df.describe()

             age  experience        income
count  20.000000   20.000000     20.000000
mean   39.650000    6.200000  40735.500000
std    10.027725    4.124382   8439.797625
min    23.000000    1.000000  27840.000000
25%    31.500000    3.750000  35452.500000
50%    40.000000    5.000000  40190.000000
75%    47.000000    9.000000  45390.000000
max    58.000000   17.000000  63600.000000

In [8]:
new_df = df.drop("income",axis= "columns")

In [9]:
new_df

    age  experience
0    25           1
1    30           3
2    47           2
3    32           5
4    43          10
5    51           7
6    28           5
7    33           4
8    37           5
9    39           8
10   29           1
11   47           9
12   54           5
13   51           4
14   44          12
15   41           6
16   58          17
17   23           1
18   44           9
19   37          10

In [10]:
income = df.income

In [11]:
income

0     30450
1     35670
2     31580
3     40130
4     47830
5     41630
6     41340
7     37650
8     40250
9     45150
10    27840
11    46110
12    36720
13    34800
14    51300
15    38900
16    63600
17    30870
18    44190
19    48700
Name: income, dtype: int64

In [12]:
train_test_split(new_df, income, test_size = 0.2, random_state = 40)

[    age  experience
 8    37           5
 11   47           9
 17   23           1
 16   58          17
 0    25           1
 15   41           6
 14   44          12
 10   29           1
 3    32           5
 2    47           2
 18   44           9
 12   54           5
 1    30           3
 5    51           7
 7    33           4
 6    28           5,
     age  experience
 9    39           8
 19   37          10
 13   51           4
 4    43          10,
 8     40250
 11    46110
 17    30870
 16    63600
 0     30450
 15    38900
 14    51300
 10    27840
 3     40130
 2     31580
 18    44190
 12    36720
 1     35670
 5     41630
 7     37650
 6     41340
 Name: income, dtype: int64,
 9     45150
 19    48700
 13    34800
 4     47830
 Name: income, dtype: int64]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(new_df, income, test_size = 0.2)

In [14]:
reg = linear_model.LinearRegression()

In [15]:
reg.fit(X_train, y_train)

LinearRegression()

In [16]:
y_pred_test = reg.predict(X_test) 
y_pred_test

array([30868.18180554, 36560.16340133, 30646.32802392, 45973.7241881 ])

In [17]:
y_pred_train = reg.predict(X_train)
y_pred_train

array([41156.01690391, 62285.0074732 , 38311.3401875 , 36447.92242903,
       34587.13283354, 30429.73056826, 49259.48030478, 38859.40423411,
       44660.99863922, 46302.56261607, 48601.80344885, 40062.51697367,
       52871.44668643, 34699.37380585, 31087.40742419, 39297.8554714 ])

In [18]:
print(f'Coefficient: {reg.coef_}')
print(f'Intercept: {reg.intercept_}')
print('y = ', reg.intercept_, '+', reg.coef_, '* X')

Coefficient: [-109.61280932 2189.62802345]
Intercept: 31418.874015135872
y =  31418.874015135872 + [-109.61280932 2189.62802345] * X

In [19]:
print('MSE = ', mean_squared_error(y_test, y_pred_test ))
print('R2 = ', r2_score(y_test, y_pred_test ))
print('RMSE = ', np.sqrt(mean_squared_error(y_test, y_pred_test )))

MSE =  563233.572526893
R2 =  0.9854153026931978
RMSE =  750.4888890096195

In [21]:
y_predict=reg.predict(X_test)
accuracy=r2_score(y_test,y_predict)
print("the accuracy = ",int(accuracy*100),"%")

the accuracy =  98 %