In [1]:
import pandas as pd
import numpy as np
from sklearn import linear_model
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error, r2_score

In [2]:
df = pd.read_csv('homeprices.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   area      6 non-null      int64
 1   bedrooms  5 non-null      float64
 2   age       6 non-null      int64
 3   price     6 non-null      int64
dtypes: float64(1), int64(3)
memory usage: 324.0 bytes

In [4]:
df.shape

(6, 4)

In [5]:
df.head()

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [6]:
df.tail()

   area  bedrooms  age   price
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [7]:
df.describe()

              area  bedrooms        age          price
count     6.000000   5.00000   6.000000       6.000000
mean   3416.666667   4.20000  16.500000  648333.333333
std     587.934237   1.30384   8.288546  109117.673484
min    2600.000000   3.00000   8.000000  550000.000000
25%    3050.000000   3.00000   9.750000  572500.000000
50%    3400.000000   4.00000  16.500000  602500.000000
75%    3900.000000   5.00000  19.500000  722500.000000
max    4100.000000   6.00000  30.000000  810000.000000

In [8]:
df.bedrooms.median()

4.0

In [9]:

df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [10]:
new_df = df.drop('price',axis='columns')
new_df

   area  bedrooms  age
0  2600       3.0   20
1  3000       4.0   15
2  3200       4.0   18
3  3600       3.0   30
4  4000       5.0    8
5  4100       6.0    8

In [11]:
price = df.price
price

0    550000
1    565000
2    610000
3    595000
4    760000
5    810000
Name: price, dtype: int64

In [12]:
train_test_split(new_df, price, test_size = 0.2, random_state = 40)

[   area  bedrooms  age
 2  3200       4.0   18
 4  4000       5.0    8
 0  2600       3.0   20
 3  3600       3.0   30,
    area  bedrooms  age
 5  4100       6.0    8
 1  3000       4.0   15,
 2    610000
 4    760000
 0    550000
 3    595000
 Name: price, dtype: int64,
 5    810000
 1    565000
 Name: price, dtype: int64]

In [13]:
X_train, X_test, y_train, y_test = train_test_split(new_df, price, test_size = 0.2)

In [14]:
reg = linear_model.LinearRegression()

In [15]:
reg.fit(X_train, y_train)

LinearRegression()

In [16]:
y_pred_test = reg.predict(X_test) 
y_pred_test

array([685121.95121951, 474146.34146341])

In [17]:
y_pred_train = reg.predict(X_train)
y_pred_train

array([760000., 565000., 610000., 810000.])

In [18]:
print(f'Coefficient: {reg.coef_}')
print(f'Intercept: {reg.intercept_}')
print('y = ', reg.intercept_, '+', reg.coef_, '* X')

Coefficient: [  182.92682927 31707.31707317  2804.87804878]
Intercept: -152682.926829268
y =  -152682.926829268 + [  182.92682927 31707.31707317  2804.87804878] * X

In [19]:
print('MSE = ', mean_squared_error(y_test, y_pred_test ))
print('R2 = ', r2_score(y_test, y_pred_test ))
print('RMSE = ', np.sqrt(mean_squared_error(y_test, y_pred_test )))

MSE =  6937871802.49851
R2 =  -12.70443812839212
RMSE =  83293.88814612097

In [2]:
import plotly.express as px
import plotly.graph_objects as go

In [3]:
fig = px.scatter_3d(new_df, x=new_df.area,y=new_df.bedrooms,z=price)
fig.show()

NameError: name 'new_df' is not defined

In [22]:
y_predict=reg.predict(X_test)
accuracy=r2_score(y_test,y_predict)
print("the accuracy = ",int(accuracy*100),"%")

the accuracy =  -1270 %